<div>
  <div class="mb-8 flex justify-center">
      <h1 class="text-3xl font-bold text-blue-600">Criar nova Task</h1>
  </div>
  <div class="p-8 max-w-3xl bg-gray-500 rounded-xl mx-auto">
    <%= render "form", task:@task %>
  </div>
</div>
